body {
  margin: 0;
  display: flexbox;
  justify-content: center;
  background-color: whitesmoke;
}

h1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 45rem;
  white-space: nowrap;
}

ul {
  list-style: none;
}

.botoes {
  background-color: #2d70fd;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

main {
  background-color: white;
  border-radius: 10px;
  width: 50rem;
  height: auto;
  margin-left: 34rem;
  padding-top: 5rem;
  margin-top: -5.5rem;
  padding-bottom: 15rem;
}

#hs {
  display: flex;
  font-size: 1.3rem;
  margin-left: 2rem;
  gap: 21rem;
  margin-top: -1rem;
}

#listaMain {
  display: flex;
  overflow-y: auto;
  gap: 0.6rem;
  justify-content: space-between;
}

#div-lista {
  font-size: 1.3rem;
  max-height: 10rem;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 15px;
}

#tarefa {
  margin-left: 2rem;
  width: 21rem;
  height: 1.5rem;
  padding-top: -5rem;
}

#etiqueta {
  margin-left: 0.5rem;
  width: 21rem;
  height: 1.5rem;
}

#btadicionar {
  width: 3rem;
  height: 2rem;
}

#lista-imagens {
  display: flex;
  max-height: 10rem;
  overflow-y: auto;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}



#imgContainer {
  display: flex;
  overflow-y: auto;
  font-size: 1.3rem;
  text-decoration: line-through;
  margin-right: 4.5rem;
  justify-content: space-between;
}

#lista-riscada {
  text-decoration: line-through;
  font-size: 1.3rem;
  margin-left: 2rem;
}

#hs_riscado {
  display: flex;
  font-size: 1.3rem;
  margin-left: 2rem;
  gap: 19rem;
}



#img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

#contador {
  font-size: 1.3rem;
  margin-left: 42rem;
  font-weight: bold;
}

footer {
  background-color: white;
  height: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 50rem;
  margin-left: 34rem;
}

/* Media querys*/

@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-left: 2rem;
  }

  main {
    background-color: white;
    border-radius: 10px;
    width: 18rem;
    height: auto;
    padding-top: 5rem;
    margin-top: -4.5rem;
    padding-bottom: 15rem;
    margin-left: 0.5rem;
  }

  #btadicionar {
    width: 17.5rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
  }

  #etiqueta {
    width: 17rem;
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
  }

  #tarefa {
    width: 17rem;
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;

  }

  #h2_etiquetas {
    font-size: 1.1rem;
    margin-left: -18rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  #h2_tarefas {
    font-size: 1.1rem;
    white-space: nowrap;
    margin-left: -1.5rem;
    margin-bottom: 0.5rem;
  }


  #h2_etiquetas_riscado {
    font-size: 1.1rem;
    margin-left: -16.8rem;
  }

  #h2_tarefas_riscado {
    font-size: 1.1rem;
    white-space: nowrap;
    margin-left: -1rem;
  }

  #div-lista {
    font-size: 0.8rem;
    max-height: 8rem;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 15px;
    white-space: nowrap;
  }

  #lista {
    margin-left: -2rem;
  }

  .botoes {
    background-color: #2d70fd;
    color: white;
    border-radius: 5px;
    font-size: 0.5rem;
  }

  #lista-imagens {
    display: flex;
    max-height: 8rem;
    overflow-y: auto;
    justify-content: space-between;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }



  #imgContainer {
    display: flex;
    overflow-y: auto;
    font-size: 0.8rem;
    text-decoration: line-through;
    margin-right: 1.5rem;
    justify-content: space-between;
  }

  #lista-riscada {
    text-decoration: line-through;
    font-size: 0.8rem;
    margin-left: -2rem;
    white-space: nowrap;
  }

  #hs_riscado {
    display: flex;
    font-size: 1.3rem;
    margin-left: 1.2rem;
    gap: 19rem;
  }

  #img {
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 1rem;
  }

  #contador {
    font-size: 0.8rem;
    margin-left: 0rem;
    font-weight: bold;
  }

  footer {
    background-color: white;
    height: 2.2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 4rem;
    margin-left: 0.5rem;
    padding-left: 14rem;
  }


}